/* Colors */
body.login {
  background: linear-gradient(to bottom, #fff 0%, #bbb 100%);
}
body.login div#login h1 {
  width: 100%;
}
body.login div#login h1 a {
  background: url(../images/logo_kineduomed.svg) no-repeat center center / auto 38% transparent;
  height: 125px;
  margin: 0 auto 50px;
  outline: none;
  width: 100%;
}
body.login div#login #loginform #user_pass,
body.login div#login #loginform #user_login {
  color: #bbb;
}
body.login div#login #nav a,
body.login div#login #backtoblog a {
  color: #fff;
}
body.login div#login #nav a:hover,
body.login div#login #backtoblog a:hover {
  color: #bbb;
}
